{% extends 'layout/base.html' %}

{% block  content %}


    <div class="pt-5">
        <div class="card">
            <div class="card-header">
              Weather Info
            </div>
            <div class="card-body">
              <h5 class="card-title">Search your city here. . .</h5>
              {% comment %} <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> {% endcomment %}

              <div class="row">
                  <div class="col-md-6 offset-md-2">
                    <form class="d-flex" method="POST">
                        {% csrf_token %}
                        <input class="form-control me-2" type="text" name="city_name" placeholder="City Name" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                  </div>
              </div>

              {% if weather_data != '' %}
                <div class="row mt-3">
                  <div class="col-md-4 col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h4>{{ weather_data.city }}</h4>
                        <div class="card-title">
                          <img class="float-start" src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Image">
                          <span class="fw-bold fs-3">{{ weather_data.temperature }}° F</span>
                        </div>
                        <div>
                          <span class="card-text">Feels like {{ weather_data.feels_like }} ° F</span>
                          <span class="card-text">{{ weather_data.description }}.</span> </br>
                          <span class="card-text">Humidity {{ weather_data.humidity }} %.</span></br>
                          <span class="card-text">Sunrise {{ weather_data.sunrise }} Sunset {{ weather_data.sunset }}</span>
                        </div>

                        {{ day_wise_weather_data }}
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    {% comment %} <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div> {% endcomment %}
                  </div>
                </div>

                {% else %}
                  {% if msg %}
                    <div class="row">
                      <div class="col-md-6 offset-md-2 alert alert-danger mt-3" role="alert">
                        {{ msg }}
                      </div>
                    </div>
                  {% endif %}
                {% endif %}

                <div class="row">
                  <div class="col-md-12">

                    <h4 class="mt-5">8 Day Weather Forcast</h4>

                    <div class="accordion" id="accordionPanelsStayOpenExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Accordion Item #1
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                          <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Accordion Item #2
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                          <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Accordion Item #3
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                </div>


              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
        
    </div>





{% endblock  %}