{% extends 'layout/base.html' %}
{% load custom_tags %}

{% block  content %}


    <div class="pt-5">
        <div class="card">
            <div class="card-header">
              Weather Info
            </div>
            <div class="card-body">
              <h5 class="card-title">Search your city here. . .</h5>
              {% comment %} <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> {% endcomment %}

              <div class="row">
                  <div class="col-md-6 offset-md-2">
                    <form class="d-flex" method="POST">
                        {% csrf_token %}
                        <input class="form-control me-2" type="text" name="city_name" placeholder="City Name" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                  </div>
              </div>

              {% if weather_data != '' %}
                <div class="row mt-3">
                  <div class="col-md-4 col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h4>{{ weather_data.city }}</h4>
                        <div class="card-title">
                          <img class="float-start" src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Image">
                          <span class="fw-bold fs-3">{{ weather_data.temperature }}° F</span>
                        </div>
                        <div>
                          <span class="card-text">Feels like {{ weather_data.feels_like }} ° F</span>
                          <span class="card-text">{{ weather_data.description }}.</span> </br>
                          <span class="card-text">Humidity {{ weather_data.humidity }} %.</span></br>
                          <span class="card-text">Sunrise {{ weather_data.sunrise }} Sunset {{ weather_data.sunset }}</span>
                        </div>

                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    {% comment %} <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div> {% endcomment %}
                  </div>
                </div>

                {% else %}
                  {% if msg %}
                    <div class="row">
                      <div class="col-md-6 offset-md-2 alert alert-danger mt-3" role="alert">
                        {{ msg }}
                      </div>
                    </div>
                  {% endif %}
                {% endif %}

                <div class="row">
                  <div class="col-md-12">

                    <h4 class="mt-5">8 Day Weather Forcast</h4>

                    {% for daily_data in day_wise_weather_data.daily  %}
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#id-{{ daily_data.dt }}" aria-expanded="true" aria-controls="collapseOne">
                              {{ daily_data.dt|convert_unix_time }}
                            </button>
                          </h2>
                          <div id="id-{{ daily_data.dt }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for daily_weather in daily_data.weather %}
                                <span>The high will be {{ daily_data.temp.max }} ° F, the low will be {{ daily_data.temp.min }} ° F</span><br>
                                <span class="fw-bold">{{ daily_weather.description }}</span>
                                <p>
                                    <img src="http://openweathermap.org/img/w/{{ daily_weather.icon }}.png" alt="Image">
                                    <span class="text-bold">Temperature: {{ day_wise_weather_data.current.temp }} ° F, 
                                        Humidity: {{ day_wise_weather_data.current.humidity }} %</span>
                                </p>

                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Morning</th>
                                        <th>Afternoon</th>
                                        <th>Evening</th>
                                        <th>Night</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th>Temperature</th>
                                        <td>{{ daily_data.temp.morn }} ° F</td>
                                        <td>{{ daily_data.temp.day }} ° F</td>
                                        <td>{{ daily_data.temp.eve }} ° F</td>
                                        <td>{{ daily_data.temp.night }} ° F</td>
                                      </tr>
                                      <tr>
                                        <th>Feels like</th>
                                        <td>{{ daily_data.feels_like.morn }} ° F</td>
                                        <td>{{ daily_data.feels_like.day }} ° F</td>
                                        <td>{{ daily_data.feels_like.eve }} ° F</td>
                                        <td>{{ daily_data.feels_like.night }} ° F</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}

                  </div>

                </div>


              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
        
    </div>





{% endblock  %}