{% load i18n %}
{% load custom_tags %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Open Weather</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">API</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Weather For
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Minutely</a></li>
              <li><a class="dropdown-item" href="#">Currently</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Daily</a></li>
            </ul>
          </li>
          <li class="nav-item">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
                {% for lang in languages %}
                    {% if forloop.counter == 1 %}
                        {% if '/en/' in request.get_full_path %}
                            <a class="nav-link dropdown-toggle" href="{{ request.get_full_path|to_and}}">
                                {{ lang.name_local }}
                            </a>
                        {% endif %}
                    {% elif forloop.counter == 2 %}
                        {% if '/en/' not in request.get_full_path %}
                            <a class="nav-link dropdown-toggle" href="/{{ lang.code }}/">
                                {{ lang.name_local }}
                            </a>
                        {% endif %}
                    {% endif %}

                {% endfor %}
        </li>
        
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Get your city weather" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
